!!!
html
	head
		title= title
		
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="viewport", content="width=device-width; initial-scale=1.0; user-scalable=0;")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		link(rel="apple-touch-icon", href="iphon_tetris_icon.png")

		link(rel="apple-touch-startup-image", href="startup.png")
		
		script(src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/javascripts/jquery-1.4.2.js')
		script(type='text/javascript', src='/javascripts/jquery.color.js')
		script(type='text/javascript', src='/javascripts/add2home.js')
		script(type='text/javascript')
			if ('standalone' in navigator && !navigator.standalone && (/iphone|ipod|ipad/gi).test(navigator.platform) && (/Safari/i).test(navigator.appVersion)) {
				document.write('<link rel="stylesheet" href="../../style/add2home.css">');
				document.write('<script type="application/javascript" src="../../src/add2home.js"><\/s' + 'cript>');
			}			
		link(rel='stylesheet', href='/stylesheets/style.css'), media="screen, mobile"
		link(rel='stylesheet, href='/stylesheets/add2home.css'), media="mobile"
	body(onload='load()')!= body