div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			a.brand(href="#body") Colour Phone (Alpha)

			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			
			div.nav-collapse
				ul.nav.pull-right
					li
						a(href="#demo1") 
							span.icon-tags.icon-white
					li
						a(href="#demo2") 
							span.icon-map-marker.icon-white
					li.vertical-divider
					li.dropdown
						a.dropdown-toggle(href="#", data-toggle="dropdown") 
							span.icon-cog.icon-white
						ul.dropdown-menu
							li
								a Profile
							li 
								a Settings
							li.divider
							li
								a(href="/signout") Sign out