body {
	padding-top: 60px;
}
	
	@media (max-width: 480px) {
		body{
			padding-top: 0;
		}
		
		.hero-unit {
			width: 100%;
			overflow: hidden;
		}
		
		.hero-unit h1 {
			font-size: 2em;
		}
	}


	.show-grid > div {
		background: rgba(0,0,0,0.3);
	}
	
	.tab-pane {
		height: 300px;
	}